body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
  
html {
  height: 100%;
  width: 100%;
}